<%- include('../../layouts/header.ejs') %>
<%- include('../../layouts/navbar.ejs') %>
    <!-- breadcrumb start -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Categorias</li>
            </ol>
        </nav>
    <!-- breadcrumb end -->

    <!-- content start -->
        <div class="container">
            <h2>Categorias</h2>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Título</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    <!-- content end -->
<%- include('../../layouts/footer.ejs') %>