<%- include('./layouts/header.ejs') %>
<%- include('./layouts/navbar.ejs') %>
    <!-- breadcrumb start -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/categories">Categorias</a></li>
                <li class="breadcrumb-item active" aria-current="page">Nova Categoria</li>
            </ol>
        </nav>
    <!-- breadcrumb end -->
    
    <!-- content start -->
        <div class="container">
            <h2>Pagina inicial</h2>
        </div>
    <!-- content end -->
<%- include('./layouts/footer.ejs') %>